.panel-button {
  padding: 0;
  overflow: hidden;

  & .panel-button__button {
    display: block;
    width: 100%;

    border: 0;
    padding: 0;
    margin: 0;

    background: var(--base_selected_background);
    color: var(--base_selected_color);

    cursor: pointer;

    &:hover {
      background: var(--base_hover_background);
      color: var(--base_hover_color);
    }

    /* XS Screen Layout */
    padding : 0.25rem;
  }
}

/* S Screen layout */

@media (min-width: 576px) {
  .panel-button {
    & .panel-button__button {
      padding : 0.5rem;
    }
  }
}

/* M Screen layout */

@media (min-width: 768px) {
  .panel-button {
    & .panel-button__button {
      padding : 1rem;
    }
  }
}

/* L Screen layout */

@media (min-width: 992px) {
}

/* XL Screen layout */

@media (min-width: 1200px) {
}

/* XXL Screen layout */

@media (min-width: 1400px) {

}
