.menu-selector {
  & .menu-selector__container {
    height: 2rem;
    display: flex;
    align-items: center;
    margin: 0 2rem;

    & .menu-selector__button {
      flex-shrink: 0;
      height: 2rem;
      width: 2rem;

      cursor: pointer;
      border: none;
      border-radius: 0.25rem;

      background: var(--base_item_background);
      color: var(--base_item_color);

      &:hover {
        background: var(--base_hover_background);
        color: var(--base_hover_color);
      }
    }

    & .menu-selector__value {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}