.theme-tile {
  height: 200px;
  width: 320px;

  position: relative;

  cursor: pointer;

  padding: 0;
  border: 0;
  background: none;
  filter: grayscale(1);

  border: 2px solid transparent;
  border-radius: 0.25rem;
  overflow: hidden;

  &:hover {
    filter: grayscale(0.5);
  }

  &.selected {
    filter: none;
    box-shadow: 0 0 5px 0 white;
  }

  & .theme-tile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}