.image-slider {
  position: relative;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;

  & .image-slider__image {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;

    object-fit: cover;
    transition: transform 0.35s ease-in-out;
  }

  &.animate-previous-before {
    & .image-slider__image {
      transition: transform 0.1s ease-in-out;
      transform: translateX(101%);
    }
  }
  &.animate-previous-after {
    & .image-slider__image {
      opacity: 0;
      transition: transform 0.001s;
      transform: translateX(-101%);
    }
  }

  &.animate-next-before {
    & .image-slider__image {
      transition: transform 0.1s ease-in-out;
      transform: translateX(-101%);
    }
  }
  &.animate-next-after {
    & .image-slider__image {
      opacity: 0;
      transition: transform 0.001s;
      transform: translateX(101%);
    }
  }
}
