.game-footer-action {
  min-width: 2rem;
  min-height: 2rem;
  padding: 0;

  border: 0;
  border-radius: 0.25rem;

  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  background: var(--base_item_background);
  color: var(--base_item_color);

  font-weight: bold;

  &:hover:not(.selected) {
    background: var(--base_hover_background);
    color: var(--base_hover_color);
  }

  &.selected {
    background: var(--base_selected_background);
    color: var(--base_selected_color);
  }
}