.home-play {
  position: relative;

  & .home-play-panel {
    background: rgba(150,150,150,0.5);

    & .home-play-sizes-container {
      position: relative;
      width: 100%;
      max-width: 576px;
      aspect-ratio: 1;

      & .home-play-sizes {

        & .grid-tiles-row-cell {
          box-sizing: border-box;

          & .home-play-size {
            height: 100%;
            width: 100%;
            cursor: pointer;

            border: 1px solid #555;
            background: rgba(0,0,0,0.6);

            color: white;
            font-weight: bold;


            &.disabled {
              cursor: not-allowed;
              color: grey;
              background: rgba(8,8,8,0.6);
              font-style: italic;
            }
            &:hover {
              background: grey;
              border-color: black;
              color: black;
            }
            &.selected {
              background: white;
              border-color: black;
              color: black;
            }
          }
        }
      }
    }
  }
}

/* XS Screen layout */

.home-play {
  & .home-play-panel {
    border-radius: 0.5rem;
    padding : 0.5rem;
    margin: 0.5rem;
    & .home-play-sizes-container {
      & .home-play-sizes {
        & .grid-tiles-row-cell {
          padding: 0.1rem;
          & .home-play-size {
            border-radius: 0.25rem;
            font-size: 1rem;
          }
        }
      }
    }
  }
}


/* S Screen layout */

@media (min-width: 576px) {
  .home-play {
    & .home-play-panel {
      border-radius: 0.5rem;
      padding : 1rem;
      margin: 1rem;
      & .home-play-sizes-container {
        & .home-play-sizes {
          & .grid-tiles-row-cell {
            padding: 0.25rem;
            & .home-play-size {
              border-radius: 0.25rem;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

/* M Screen layout */

@media (min-width: 768px) {
  .home-play {
    & .home-play-panel {
      border-radius: 1rem;
      padding : 2rem;
      margin: 2rem;
      & .home-play-sizes-container {
        & .home-play-sizes {
          & .grid-tiles-row-cell {
            padding: 0.25rem;
            & .home-play-size {
              border-radius: 0.25rem;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

/* L Screen layout */

@media (min-width: 992px) {
}

/* XL Screen layout */

@media (min-width: 1200px) {
}

/* XXL Screen layout */

@media (min-width: 1400px) {

}
