.grid-container {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  &.grid-container-h {
    flex-direction: row;
    & .grid-container-inner {
      height: 100%;
    }
  }

  &.grid-container-v {
    flex-direction: column;
    & .grid-container-inner {
      width: 100%;
    }
  }

  & .grid-container-inner {
    position: relative;
  }
}